body{
    background-color: rgb(245, 233, 167);
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-family: 'Mali', cursive;
        font-family: 'Noto Sans Thai', sans-serif;
        font-family: 'Noto Sans Thai Looped', sans-serif;
        color: rgb(0, 0, 0);
    }